#title_login{
    color: rgb(147, 78, 213);
     text-shadow:
        -2px -1px 0 black,
         2px -1px 0 black,
        -2px  1px 0 black,
         2px  1px 0 black;
}

#Main_div{
    background-color: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 380px;
    width: 340px;
    border-radius: 12px;
}

#Login_class{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 6px;
}

#Login_email, #Login_password{
    width:240px;
    padding: 12px 20px;
}

#submit_button{
    margin-top: 8px;
    padding: 10px;
    width: 290px;
    background-color: rgb(147, 78, 213);
    border:2px solid black;
    border-radius: 6px;
    transition: background-color 0.10s, box-shadow 0.10s;
    
}

#submit_button:hover{
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(104, 26, 100, 0.5);
}

#submit_button:active{
    background-color: rgb(147, 78, 240);
}

.link_text{
    color: rgb(40, 100, 220)
}

.link_text:hover{
    text-decoration: underline;
    cursor: pointer;
}
@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut{
    from {opacity: 1;}
    to {opacity: 0;}
}
.modal_overlay_search{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    
} 
.modal_overlay_search.fade-in{
    animation: fadeIn 0.3s ease forwards;
}

.modal_overlay_search.fade-out{
    animation: fadeOut 0.3s ease forwards;
}