body{
    background-color: rgb(30, 30, 30);
    font-family: Arial, Helvetica, sans-serif;
}

#body_search {
    padding: 60px;
}

#header_div_search{
    background-color: rgb(40, 40, 40);
    position:fixed;
    padding: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    height:60px;
    border-bottom-left-radius:6px; 
    border-bottom-right-radius:6px;
    display: flex;
    align-items: center;
    justify-content: left;
}

#header_div_left_search{
    display: flex;
    align-items: center;
    justify-content: left;
}
#header_div_right_search{
    display: flex;
    align-items: center;
    justify-content: right;
}

.Icon_button_search{
    background: none;
    border: none;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.Icon_button_search:hover{
    cursor: pointer;
}

#Menu_button_search{
    padding-left: 15px;
    padding-right: 15px;
}

/*This is unchanged from before*/
#h1_search {
    color: rgb(147, 78, 213);
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    text-shadow:
        -2px -1px 0 black,
         2px -1px 0 black,
        -2px  1px 0 black,
         2px  1px 0 black;
}
#Result_list_search {
    background-color: rgb(35, 35, 35);
    text-align: left;
    position: absolute;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 8px rgba(104, 26, 100, 0.5);
}

.dropdown_search {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    padding-top: 10px;
    justify-items: center;
}

.dropdown_search::-webkit-scrollbar {
    margin-left: 4%;
    position: absolute;
    overflow-y: auto;
    width: 75%;
    z-index: 100;
    border-radius: 5px;
}

.dropdown_search::-webkit-scrollbar-thumb {
    background-color: rgba(147, 78, 213, 0.5);
    border-radius: 3px;
}

.dropdown_images_search {
    height: 280px;
    width: 195px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    background-color: transparent;
    transition: background 0.2s ease-in-out;
}

.dropdown_items_search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    text-align: center;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 8px;
    background-color: transparent;
}

.dropdown_items_search:hover {
    background-color: rgba(147, 78, 213, 0.1);
}

.span_items_search {
    padding-top: 10px;
    max-width: 100%;
    color: white;
    overflow: hidden;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: large;
}