#Title_div {
    background-color: rgb(40, 40, 40);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 10px;
    top: 0;
    left: 0;
    display: flex;
}
#Detail_image {
    height: 450px;
    width: auto;
    /*border-radius: 8px;*/
    border: 2px solid rgb(56, 54, 54);
    display: flex;
}

#Picture_div{
    background-color: rgb(40, 40, 40);
}

#format_div{
    display: flex;
}

#Anime_div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}