body {
    background-color: rgb(30, 30, 30);
    font-family:Arial, Helvetica, sans-serif ;
    padding: 10px;
}
#top_div {
    text-align: center;
    background-color: rgb(35, 35, 35);
    border-radius: 20px;
    padding: 20px 20px;
    box-shadow:  0 4px 8px rgba(104, 26, 100, 0.5);
}
h1 {
    
    color: rgb(147, 78, 213);
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(104, 26, 100, 0.5);
    display: inline-block;
    margin: 20px;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    text-align: center;
}

#Search_Bar {
    color: rgb(0, 0, 0);
    width: 85%;
    max-width: 90%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(104, 26, 100, 0.5);
    
}

#Search_buttone{
    width: 8%;
    font-size:  1rem;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid black;
    background-color:rgb(147, 78, 213);
}

#Search_Icon{
    width: 16px; 
    height: 16px; 
    margin-right: 4px;
}

#Result_list {
    background-color: rgb(35, 35, 35);
    text-align: left;
    position: absolute;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 8px rgba(104, 26, 100, 0.5);
}

.dropdown::-webkit-scrollbar {
    margin-left: 4%;
    padding: 10px;
    position: absolute;
    border: 1px solid rgb(0, 0, 0);
    max-height: 600px;
    overflow-y: auto;
    width: 75%;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
.dropdown::-webkit-scrollbar-thumb{
    background-color: rgba(147, 78, 213, 0.5);
    border-radius: 3px;
}

.dropdown_images{
    height: 100px;
    width: 80px;
    object-fit: contain;
    display: flex;
    align-items: center;
    padding: 8px;
    transition: background 0.2s ease-in-out;
    border-radius: 5px;
    margin-right: 10px;
    background-color: black;
}

.dropdown span {
    color: white;
    font-size: 1rem;
}

.dropdown_items {
    display: flex;
    align-items: center;
    padding: 8px;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
}

.dropdown_items:hover {
    background-color: rgba(147, 78, 213, 0.1);
}